nav {
 .p-button{
  color: wheat;
 }
  .navbar-right .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}

/* Responsive Design */
// Small Screens
@media (max-width: 768px) {
  nav {
    background: var(--primary-color) !important;
  }
  .search-icon {
    display: block; /* Hide the search icon on smaller screens */
  }
  .profile-image {
    width: 40px;
    height: 40px;
  }
}
