<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="w-sm m-0">
  <h3 class="text-title mb-3">Forgot your password?</h3>
  <app-global-input
    [type]="'email'"
    formControlName="email"
    [placeholder]="'Email'"
    [id]="'email'"
    [control]="emailControl"
    [fieldName]="'email'"
  />

  <app-primary-button
    [labelText]="'Recover Password'"
    [disabled]="forgetPasswordForm.invalid"
    [type]="'submit'"
  />
</form>
@if(backendError){
<app-error [errorMessages]="[backendError]"></app-error>
}
