<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="w-sm m-0">
  <h3 class="text-title">Forgot your password?</h3>
  <input
    type="text"
    pInputText
    formControlName="email"
    placeholder="email"
    class="w-full block mb-5"
    [ngClass]="{
      'ng-invalid ng-dirty': !forgetPasswordForm.controls.email.valid
    }"
  />
  @if(forgetPasswordForm.controls['email'].invalid &&
  forgetPasswordForm.controls['email'].touched ){
  @if(forgetPasswordForm.get('email')?.errors?.['required']){
  <app-error [errorMessages]="['email is required']"></app-error>
  } @if(forgetPasswordForm.get('email')?.errors?.['email']){
  <app-error [errorMessages]="['email not valid']"></app-error>
  } }

  <!-- <p-button
    class="w-full block mb-3 link-style"
    class="w-full flex justify-end mb-4 mx-0"
    label="Recover Password ?"
    [link]="true"
  /> -->

  <!-- <p-button
    class="w-full block my-3"
    [style]="{ width: '100%' }"
    type="submit"
    label="Recover Password"
    [rounded]="true"
    [disabled]="forgetPasswordForm.invalid"
  /> -->

  <app-primary-button
  
    [labelText]="'Recover Password'"
    [disabled]="forgetPasswordForm.invalid"
    [type]="'submit'"
  />
  @if(backendError){
  <app-error [errorMessages]="[backendError]"></app-error>
  }
</form>
