<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h3 class="w-full" [ngStyle]="{ color: 'var(--black)',}">Set a password</h3>
    <input
      type="text"
      pInputText
      formControlName="email"
      placeholder="email"
      class="w-full block mb-3"
      [ngClass]="{ 'ng-invalid ng-dirty': !resetPasswordForm.controls.email.valid }"
    />
    @if(resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched
    ){
      @if(resetPasswordForm.get('email')?.errors?.['required']){
        <app-error [errorMessages]="['email is required']"></app-error>
      }
      @if(resetPasswordForm.get('email')?.errors?.['email']){
        <app-error [errorMessages]="['email not valid']"></app-error>
      }
    }
    <p-password
      [ngClass]="{ 'ng-invalid ng-dirty': !resetPasswordForm.controls.newPassword.valid }"
      class="w-full block mb-3"
      inputStyleClass="w-full"
      [style]="{ width: '100%' }"
      [toggleMask]="true"
      placeholder="new password"
      [feedback]="false"
      formControlName="newPassword"
    />
    @if(resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched
    ){
      @if(resetPasswordForm.get('newPassword')?.errors?.['required']){
        <app-error [errorMessages]="['newPassword is required']"></app-error>
      }
      @if(resetPasswordForm.get('newPassword')?.errors?.['pattern']){
        <app-error [errorMessages]="['newPassword length should be at min 6 chars . With upper case letter and a number at least with special character']"></app-error>
      }
    }

  
    <p-button
      class="w-full block my-3"
      [style]="{ width: '100%' }"
      type="submit"
      label="Sign in"
      [rounded]="true"
      [disabled]="resetPasswordForm.invalid"
    />
    @if(backendError){
      <app-error [errorMessages]="[backendError]"></app-error>
    }
  </form>
  
