<div class="flex flex-col gap-5">
  <h3 class="text-title">Your score</h3>
  <!-- Chart -->
  <div class="flex items-center justify-center gap-7">
    <div class="relative flex">
      <p-chart
        type="doughnut"
        [data]="data"
        [options]="options"
        class="max-w-[150px]"
      />
      <span
        class="absolute inset-0 flex items-center justify-center sz-10 font-bold"
      >
        80%
      </span>
    </div>

    <div class="flex flex-col gap-5 font-inter text-sm font-medium font-bold">
      <div class="flex items-center justify-between gap-5 text-(--blue-base)">
        <h2>Correct</h2>
        <div
          class="rounded-full w-[32px] h-[32px] border-1 flex items-center justify-center"
        >
          10
        </div>
      </div>
      <div class="flex items-center justify-between gap-5 text-(--error-color)">
        <h2>InCorrect</h2>
        <div
          class="rounded-full w-[32px] h-[32px] border-1 flex items-center justify-center"
        >
          10
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <div class="flex gap-3 mt-5">
    <app-primary-button
      class="flex-1"
      [labelText]="'Close'"
      (btnClicked)="closeDialog()"
    ></app-primary-button>
    <app-primary-button
      class="flex-1"
      [labelText]="'Show results'"
      (btnClicked)="ShowResults()"
    ></app-primary-button>
  </div>
</div>
