.subject-card {
    position: relative;
    // width: 400px;
    // height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .subject-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .subject-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: linear-gradient(to right, rgba(25, 53, 202, 0.4), rgba(25, 53, 202, 0.4));
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-align: left;
  }
  .subject-text h2 {
   // margin: 0;
    font-size: 18px;
  }


  ///////////////////////////////////////////////////
  .responsive-card {
    width: 100%; /* Full width by default */
    margin: 0 auto; /* Center align the card */
  }
  
  @media (min-width: 768px) { /* For larger screens */
    .responsive-card {
      width: 50%; /* Take half the screen width */
    }
  }
  