h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--blue-color);
}

.example-viewport {
  background-color: red;
}

.example-item {
  // height: 50px;
  // display: flex;
  // align-items: center;
 // padding: 0 16px;
  background-color: black;
 // border-bottom: 1px solid #eee;
}
