<form [formGroup]="verifyCodeForm" (ngSubmit)="onSubmit()" class="w-sm m-0">
  <h3 class="text-title">Verify code</h3>
  <input
    type="text"
    pInputText
    formControlName="resetCode"
    placeholder="resetCode"
    class="w-full block mb-3"
    [ngClass]="{
      'ng-invalid ng-dirty': !verifyCodeForm.controls.resetCode.valid
    }"
  />
  @if(verifyCodeForm.controls['resetCode'].invalid &&
  verifyCodeForm.controls['resetCode'].touched ){
  @if(verifyCodeForm.get('resetCode')?.errors?.['required']){
  <app-error [errorMessages]="['resetCode is required']"></app-error>
  } @if(verifyCodeForm.get('resetCode')?.errors?.['resetCode']){
  <app-error [errorMessages]="['resetCode not valid']"></app-error>
  } }

  <div class="text-center flex items-center justify-end mb-5">
    <p class="p-0 m-0 text-black">Didn’t receive a code?</p>
    <a
      (onClick)="resendCode()"
      routerLinkActive="router-link-active"
      class="p-0"
      >Resend</a
    >
  </div>
 

  <app-primary-button
    [labelText]="'Verify'"
    [disabled]="verifyCodeForm.invalid"
    [type]="'submit'"
  />
  @if(backendError){
  <app-error [errorMessages]="[backendError]"></app-error>
  }
</form>
