<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-sm">
  <h3 class="text-title">Sign in</h3>

  <app-global-input
    [type]="'email'"
    formControlName="email"
    [placeholder]="'Enter Email'"
    [id]="'email'"
    [control]="emailControl"
    [fieldName]="'email'"
  />

  <app-global-input
    [type]="'password'"
    formControlName="password"
    [placeholder]="'Password'"
    [id]="'password'"
    [control]="passwordControl"
    [fieldName]="'password'"
  />

  <div class="flex justify-end link-btn mb-3">
    <p-button
      [routerLink]="['/auth/forget-password']"
      routerLinkActive="router-link-active"
      class="mb-3 mx-0 p-0 w-fit"
      label="Recover Password ?"
      [link]="true"
    />
  </div>
  <app-primary-button
    [labelText]="'Log in'"
    [disabled]="loginForm.invalid"
    [type]="'submit'"
    [loading]="loading"
  />
</form>
@if(backendError){
<app-error [errorMessages]="[backendError]"></app-error>
}
