<div class="sidebar p-4 z-5 bg-white flex flex-col gap-3  w-full ">
  <div class="menu-header">
    <img src="assets/images/Logo.svg" alt="Logo" class="w-26" />
    <i
      class="pi pi-times inline-flex md:!hidden"
      (click)="closeSidebar(true)"
    ></i>
  </div>

  <button
    [routerLink]="['/home']"
    routerLinkActive="active"
    label="Dashboard"
    icon="pi pi-th-large"
    class="w-fit rounded-xl"
    pButton
  ></button>
  <button
    variant="text"
    class="w-fit rounded-xl"
    [routerLink]="['/history ']"
    routerLinkActive="active"
    label="Quiz History"
    icon="pi pi-history"
    pButton
  ></button>
  <button
    variant="text"
    class="w-fit rounded-xl"
    routerLinkActive="active"
    label="Log Out"
    icon="pi pi-sign-out"
    pButton
    (click)="logout()"
  ></button>
</div>
